<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.ifpb.iternapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainStudentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainCompanyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".activities.SignupActivity"
            android:label="Sign Up"
            android:parentActivityName=".activities.LoginActivity" />

        <activity
            android:name=".activities.add.AddVacancyActivity"
            android:label="Adicionar vaga"
            android:parentActivityName=".activities.MainCompanyActivity" />

        <activity
            android:name=".activities.edit.EditCompanyActivity"
            android:label="Editar dados"
            android:parentActivityName=".activities.MainCompanyActivity" />

        <activity
            android:name=".activities.edit.EditStudentActivity"
            android:label="Editar dados"
            android:parentActivityName=".activities.MainStudentActivity" />

        <activity
            android:name=".activities.add.AddCourseActivity"
            android:label="Adicionar curso"
            android:parentActivityName=".activities.MainStudentActivity" />
    </application>

</manifest>